* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #0f172a, #111827);
    color: white;
}

section {
    margin-bottom: 80px;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #3ec1d3;
}

.navbar nav {
    display: flex;
    gap: 15px;
}

.navbar a {
    margin: auto;
    padding: 5px 18px;
    border-radius: 6px;
    background-color: #1f2937;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #2ba4b5;
}

.navbar #order-now {
    background-color: #3ec1d3;
    padding: 5px 18px;
    border-radius: 6px;
}
.navbar #order-now:hover {
    background-color: #2ba4b5;
}


.hero {
    color: rgb(1, 1, 1, 0.8);
    padding: 80px 10%;
    background-image: url('smartdesk.png');
    background-size: fill;
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    text-align: left;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(1,1,1, 0.8);
}


.hero-buttons {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #3ec1d3;
    color:white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary {
    border: 2px solid #3ec1d3;
    color: rgba(15, 23, 42, 0.8);
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #2ba4b5;
}

.btn-secondary:hover {
    background-color: #3ec1d3;
    color: white;
}

.hero-image img {
    width: 500px;
    border-radius: 10px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}


.features {
    padding: 100px 10%;
    text-align: center;
    background-color: #111827;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.feature-card {
    background-color: #1f2937;
    padding: 40px 25px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    background-color: #243044;
}
.icon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.feature-card h3 {
    margin-bottom: 15px;
}

.feature-card p {
    color: #cbd5e1;
    font-size: 14px;
}
.feature-card .icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.testimonials {
    padding: 100px 10%;
    text-align: center;
    background-color: #0f172a;
}

.testimonials h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.08);
}

.testimonial-card p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #cbd5e1;
}

.testimonial-card h4 {
    font-weight: 600;
    color: #3ec1d3;
}

.final-cta {
    padding: 120px 10%;
    text-align: center;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.final-cta h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.final-cta p {
    color: #cbd5e1;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer {
    background-color: #111827;
    padding: 60px 10%;
    text-align: center;
    color: #cbd5e1;
    border-top: 1px solid #1f2937;
}

.footer-content h3 {
    font-size: 24px;
    color: #3ec1d3;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 20px;
}

.footer .copyright {
    font-size: 12px;
    color: #94a3b8;
}

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
        width: 100%; margin-top: 40px;
    
    }

    .hero-buttons {
        justify-content: center;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }
    .testimonials-grid {
    grid-template-columns: 1fr;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}